body {
	background-image: url(File/saw_background.png);
	background-size: stretch;
	background-attachment: fixed;
	text-align: center;
}

/*Header*/
h1 {
	font-family: "s'AWesome";
	font-size: 75px;
	text-shadow: 4px 4px #7A1111;
	color: #e2dede;
	padding: 20px;
}

#subtext {
	text-shadow: 3px 3px 2px #7A1111;
	color: #e2dede;
	padding: 0px 10px 10px 10px;
}
/**/

/*Questions populate here*/
#quest_display {
	min-height: 100px;
	width: 95vw;
	padding: 0px 10px;
	display: flex;
	margin: 10px auto 20px auto;
	background: rgba(122,17,17, .5);
	border-radius: 5px;
	box-shadow: 2px 2px 5px #867f7f;
}

#quest_text {
	font-size: 30px;
	text-shadow: 3px 3px 2px #0a0a0a;
	padding: 10px;
	color: #e2dede;
	margin: auto;
}
/**/

/*Grid 1*/

	/*Selections populate below*/
	.selections {
		width: 100%;
		padding: 20px;
		margin: 10px auto;
		background: rgba(235,235,235, .5);
		border-radius: 5px;
		box-shadow: 2px 2px 5px #7A1111;
		overflow-wrap: break-word;
	}

	.selections:hover {
		background-color: #caf0f5;
	}

	#choice1, #choice2, #choice3, #choice4 {
		font-size: 35px;
		text-shadow: 2px 2px 2px black;
		color: rgb(122,17,17);
		margin: auto;
	}

	.redBorder {
		border: medium solid red;
		background-color: #caf0f5;
	}
	/**/

	/*Score populates here*/
	#score_bar {
		background: rgba(255,252,252, .8);
		border-radius: 5px;
		max-height: 400px;
		box-shadow: 2px 2px 5px #7A1111;
		font-size: 30px;
		font-family: 'Abril Fatface', cursive;
		margin: 10px auto;
		padding: 20px;
	}

	#submit {
		background-color: rgba(122,17,17, .5);
		box-shadow: 2px 2px 5px #867f7f;
		text-shadow: 2px 2px 2px #0a0a0a;
		height: auto;
		padding: 15px;
		font-size: 25px;
		margin: 10px auto;
	}
/*End of Grid 1*/


/*Grid 2*/

	/*Gif/img styling*/
	#giph {
		margin: 0px auto;
	}

	#giph img {
		width: 100%;
		height: auto;
		box-shadow: 2px 2px 5px #7A1111;
	}
/*End of Grid 2*/